<div class="content">
	<div class="row inviteBox">
		<div class="large-24 columns">
			<h2 class="epsilon">Sounds good? Let’s move forward from idea to launch today!</h2>
			<div class="large-12 columns large-centered">
				<div class="row collapse">
					<div class="large-24 error columns gettouch-field">
						<small class="error" id="error-email-2" style="display: none;">Please type a valid email address</small>
						<div class="large-18  columns ">
							<input type="text" placeholder="Your Email address" id="email-2">
						</div>
						<div class="large-6 small-24 small-centered large-uncentered columns emailField" id="email-2">
							<a href="http://launchyard.com/#" class="button postfix radius get-in-touch" for="email-2">Get in touch</a>
						</div>
					</div>
				</div>
			</div>
			<h2 class="epsilon sales-text">Send us an email at <a href="mailto:contact@launchyard.com">contact@launchyard.com</a> or you can just get started by filling this <a href="https://launchyard.wufoo.com/forms/get-in-touch-with-the-launchyard-technical-team/">tiny form</a>.</h2> 
		</div>
	</div>
</div>