<nav class="top-bar" style="top: 0px;">
	<ul class="title-area">
		<li class="name">
			<a ng-href="/launchyard/#/home" class="button">launchyard home</a>
		</li>
	</ul>
	<ul class="title-area" style="float: right; margin-right: 65px;">
		<li style="display: inline-block; margin-left: 20px;"><a ng-href="/launchyard/#/brainstorm" class="button">Brainstorm</a></li>
		<li style="display: inline-block; margin-left: 20px;"><a ng-href="/launchyard/#/platform" class="button">Platform</a></li>
		<li style="display: inline-block; margin-left: 20px;"><a ng-href="/launchyard/#/landing" class="button">Landing Page</a></li>
		<li style="display: inline-block; margin-left: 20px;"><a ng-href="/launchyard/#/statistics" class="button">Statistics</a></li>
	</ul>
</nav>