<div class="content">
	<section id="ideation" class="ideationSection getHeight">
		<h1 class="gamma">Brainstorm and ideate together</h1>
		<h2 class="epsilon">Let's work together to clearly define your idea</h2>
		<div class="platform">
			<div class="row">
				<div class="large-9 columns">
					<div class="sectionInfo ">
						<h3 class="delta text-left">The Good Bits</h3>
						<p class="text-left">
						  We get started by signing an NDA, and rolling up our sleeves with you. What is your problem statement? What are the existing solutions in the market? How do you stand out and acquire users? Our goal is to combine our expertise in business, design and technology along with our maniacal focus on startups to answer these questions together and flesh out your idea successfully.
					  </p>
				  </div>
				</div>
				<div class="large-15  columns noPaddingRight">
				<img src="./launchyard_files/launchyard_ideation.png" class="ideationImage" alt="Launchyard ideation">
				</div>
			</div>
		</div>
	</section>
</div>