<div class="content">
	<section class="landingSection getHeight" style="height: 747px;">
		<h1 class="mega">We help build startups.</h1>
		<h3 class="delta text-center">We are a no-sweat technical partner for early stage entrepreneurs to launch ideas from scratch and for later stage startups to build more quickly and affordably.</h3>

		<div class="row">
			<div class="large-24 columns">
				<div class="row">
				 <div class="large-12 large-centered columns text-center highlight error">
					<a href="http://launchyard.com/#ideation" id="learnMore" class="button success radius btn-border-white">Learn more</a>
				</div>
			</div>
		</div>
		</div>
	</section>
</div>