<div class="content">
    <section id="getFree" class="freeLandingPage getHeight" style="height: 747px;">
      <h1 class="gamma">Get a free landing page</h1>
      <h2 class="epsilon">We'll get you started instantaneously with a powerful launch page FOR FREE</h2>
      <div class="platform">
        <div class="row">
          <div class="large-11 columns">
            <div class="sectionInfo ">
              <p><i class="icon-quote-left quote"></i> Setting up our LaunchYard landing page was incredibly simple. We were able to easily customize the design to fit exactly what we wanted. It only took minutes from start to finish. The page ending up looking great and functioned perfectly.</p>
              <p class="text-right author">— Tuyen Vo,<a href="http://linepeek.com/" target="_blank"> Linepeek</a></p>
            </div>
          </div>
          <div class="large-12 columns">
            <img src="./launchyard_files/free_page.png" alt="">
          </div>
        </div>
      </div>
	</section>
</div>