<div class="content">
    <section id="platform" class="platformSection">
        <h1 class="gamma">Design and develop with us</h1>
        <h2 class="epsilon">Our designers and developers are experienced in all the major technology platforms</h2>
        <div class="row">
            <div class="platform recommend">
                <ul class="large-block-grid-3">
                    <li class="">
                        <div class="platformIcon"><i class="icon-laptop "></i></div>
                        <h1 class="epsilon">Web</h1>
                        <div class="platformContent"><p>Despite the rise of mobile, a web app is still a great starting point for many ideas. We have an established track record in building robust, cross-browser web applications quickly and cleanly to validate your idea.</p></div>
                    </li>
                    <li class="">
                        <div class="platformIcon"><i class="icon-cog"></i></div>
                        <h1 class="epsilon">iOS</h1>
                        <div class="platformContent"><p>iOS is an established mobile platform and often a mobile first strategy for your startup makes sense. We have strong capabilities in objective C, native app store payments and iOS UX/UI to serve this segment.</p></div>
                    </li>
                    <li>
                        <div class="platformIcon"><i class="icon-android"></i></div>
                        <h1 class="epsilon">Android</h1>
                        <div class="platformContent"><p>Android is one of the fastest growing mobile platforms catching up with iOS. Honestly, we haven't built any Android products yet but we are proficient in the relevant technologies and would love to dig into it.</p><p></p></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>