<div class="content">
	<section id="" class="achievementSection">
		<div class="large-18 columns large-centered">
		<h1 class="gamma">We love statistics</h1>
			<ul class="small-block-grid-2 large-block-grid-4 achieve-block-body">
			  <li><div class="circle"><h4><i class="icon-code"></i> </h4></div>
				<span class="text-center achiev-num">1.8M</span>
				<p class="text-center achiev-text">LINES OF CODE</p>
			  </li>
			  <li><div class="circle"><h4><i class="icon-user"></i></h4></div>
				<span class="text-center achiev-num">15</span>
				<p class="text-center achiev-text">HAPPY CLIENTS</p>
			  </li>  
			  <li><div class="circle"><h4><i class="icon-rocket"></i></h4></div>
				<span class="text-center achiev-num">12</span>
				<p class="text-center achiev-text">PROJECTS DONE</p>
			  </li>
			  <li><div class="circle"><h4><i class="icon-coffee"></i></h4></div>
				<span class="text-center achiev-num">~3K</span>
				<p class="text-center achiev-text">CUPS OF COFFEE</p>
			  </li>
		  </ul>
	  </div>
	</section>
</div>